html {
  font-size: 18px;
  line-height: 1.4;
  font-family: helvetica;
}

.banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  height: 30rem;
  width: auto;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner .container {
  display: flex;
  flex-direction: column;
  width: 960px;
  align-items: center;
}

.container .navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: cadetblue;
  width: 100%;
  margin-top: 1rem;
}

.container .logo {
  display: inline-flex;
  align-items: center;
  overflow: visible;
  white-space: nowrap;
}

.navigation img {
  height: 1.5rem;
  width: auto;
  padding-left: 2rem;
  padding-right: 1rem;
}

.navigation ul {
  display: inline-flex;
  list-style: none;
  margin: 0;
}

.navigation p {
  color: white;
}

.navigation li {
  color: white;
  padding: 1rem 2rem;
}

.banner .container2 {
  display: flex;
  width: 1032px;
  justify-content: flex-end;
}

.caption {
  display: flex;

}

.caption h2 {
  padding: 1.5rem 5rem;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  font-weight: bold;
  background-color: white;
  margin-top: 10rem;
}

.icons {
  display: flex;
  justify-content: center;
}

.icons .container {
  display: flex;
  flex-direction: row;
  width: 960px;
  margin: 3rem;
  justify-content: center;
}

.exams {
  text-align: center;
  height: 8rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.exams img {
  width: 3.5rem;
  max-height: 100%;
}

.exams p {
  padding-bottom: 0rem;
}

.fittings {
  height: 8rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-left: 6rem;
  margin-right: 6rem;
}

.fittings img {
  max-width: 100%;
}

.fittings p {
  margin-bottom: 0;
}

.delivery {
  text-align: center;
  height: 8rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.delivery img {
  max-width: 100%;
}

.delivery p {
  margin-bottom: 0;
}

.about {
  display: flex;
  justify-content: center;
}

.about .container {
  display: flex;
  flex-direction: row;
  width: 960px;
  justify-content: space-around;
  border: 1px solid black;
}

.container .philosophy {
  display: flex;
  flex-direction: column;
  width: 35%;
  border: 1px solid black;
}

.heading {
  padding-left: 1.25rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: cadetblue;
  color: white;
  text-transform: uppercase;
  width: 10rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.paragraph {
  margin: 0;
}

.container .appointments {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  width: 35%;
  border: 1px solid black;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer .container {
  display: flex;
  flex-direction: row;
  width: 960px;
  background-color: azure;
  align-items: center;
  margin-top: 5rem;
}

.footer img {
  height: 1.5rem;
  margin-left: 4rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-right: 1rem;
}
